body{
    font-family: "Trebuchet MS", sans-serif;
    background-color: #fff9c4;
    text-align: center;
}

h1{ color: #1b5e20; }
h2{ color: #333; }

table{
    background: white;
    margin: auto;
    padding: 15px;
    border-radius: 12px;
    border: 3px solid #1b5e20;
}

input, textarea, select{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #1b5e20;
}

input[type=submit], input[type=reset]{
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

input[type=submit]{ background: #1b5e20; }
input[type=reset]{ background: #f57f17; }

